PLUGINS monitoring_hists,ReactionFilter
# PLUGINS monitoring_hists

#Ncores if you want to use all of the hyperthreads available (only useif you have the whole node!)
NTHREADS 4

#MONITOR:MEMORY_EVENTS 1100000

#Limit number of neutrals
#COMBO:MAX_NEUTRALS 15

#RESTATAVERSIONSTRING recon_RunPeriod-2017-01_ver01
#ANALYSISATAVERSIONSTRING analysis_RunPeriod-2017-01_ver04

JANA_CALIB_CONTEXT variation=mc
#calibtime=YYYY-MM-DD-hh-mm-ss (hr is 24-hr format)

#EVENTS_TO_KEEP 50000

#Reaction1  1_14__1_1_14                        # 2g p
# Reaction1  1_111__8_9_m111                 # pi+ pi- missing Pb208
Reaction1  1_14__7_8_9_14                      # pi0 pi+ pi- p
#Reaction1  1_14__11_12_14                      # K+ K- p

#Reaction1:Flags F4 B1 T3 # Default values F4 (vertex-p4) B1 (RF bunches +/-1) T3 (extra charged tracks)  
Reaction1:Flags B4