# PROJECT INFO
#VERBOSE=True
WORKFLOW_NAME=MCwrapper_test #SWIF workflow name
PROJECT = gluex          # http://scicomp.jlab.org/scicomp/#/projects
TRACK=debug     	   # https://scicomp.jlab.org/docs/batch_job_tracks

# RESOURCES for swif jobs
NCORES= 2               # Number of CPU cores
DISK=5GB            # Max Disk usage
RAM=5GB            # Max RAM usage
TIMELIMIT=300minutes      # Max walltime
OS=centos7        # Specify CentOS65 machines

# OUTPUT DATA LOCATION
DATA_OUTPUT_BASE_DIR=/work/halld/home/tbritton/TEST/#your desired output location (only needed for SWIF jobs)

#environment file location
ENVIRONMENT_FILE=/work/halld2/home/tbritton/hdpm/env-setup/master.csh#change this to your own environment file

GENERATOR=gen_pi0#gen_2pi_amp
GENERATOR_CONFIG=/work/halld2/home/tbritton/public_mc/vmRegge.cfg#gen_2pi_amp.cfg
#eBEAM_ENERGY=12
#COHERENT_PEAK=9
#GEN_MIN_ENERGY=4
#GEN_MAX_ENERGY=12

GEANT_VERSION=4
#BKG_FOLD=bg.hddm:1.8


#CUSTOM_MAKEMC=/w/halld-scifs1a/home/tbritton/ANA/KpKm/MC/MCwrapper
#CUSTOM_GCONTROL=/work/halld2/home/tbritton/ANA/KpKm/MC/MCwrapper