#VERBOSE=True #This will print out the command given to SWIF which is useful for debugging.

#SWIF OPTIONS
WORKFLOW_NAME=MYWORKFLOW #SWIF workflow name
PROJECT = gluex         # http://scicomp.jlab.org/scicomp/#/projects
TRACK=simulation        # https://scicomp.jlab.org/docs/batch_job_tracks

DISK=10GB            # Max Disk usage
RAM=20GB            # Max RAM usage
TIMELIMIT=300minutes      # Max walltime
OS=centos7        # Specify centos65 or centos7 machines
DATA_OUTPUT_BASE_DIR=my-out-direction #your desired output location (only needed for SWIF jobs)

NCORES= 8               # Number of CPU cores reserved for the job.  This is also the number of threads to use during multithreaded portions of the MC chain

ENVIRONMENT_FILE=my-env-file #location of your environment file

GENERATOR=genr8 #the generator you wish to use. Currently only genr8 is supported.
GENERATOR_CONFIG=my-generator-config #this is the the file that the above generator needs to run
GEANT_VERSION=4 #Geant version to use.  Either 3 or 4.  Note: if this is set to 3 NCORES will be forced to 1

#CUSTOM_MAKEMC=use-this-MakeMC.sh-instead  #optional use of a custom MakeMC.sh script.  If it is not set it uses the public one

#optional use of a custom Gcontrol.in file.  If it is not set it uses the public one.  Note the wrapper expects some general flags to be set TEMPIN,TEMPOUT etc.
#CUSTOM_GCONTROL=use-this-GCONTROL-instead 