#THESE TWO ARE OPTIONAL IF THE STANDARD RUNNING DOESN'T SUIT YOUR NEEDS
#CUSTOM_MAKEMC=use-this-script-instead
#CUSTOM_GCONTROL=use-this-Gcontrol-instead
#========================================================================

#VARIATION=mc calibtime=timegoes here #set your jana calib context here with or without calibtime Default is variation=mc

#RUNNING_DIRECTORY=/run/in/this/directory #where the code should run.  This is defaulted to ./

#SQLITEPATH=/your/sqlite/path  #if you use SQLITE and it is not part of the environment file that gets sourced

#TAG=my-custom-prefix-tag

DATA_OUTPUT_BASE_DIR=OUTPUT-LOCATION#your desired output location

NCORES=4      # Number of CPU threads to use or nodes:node-id:ppn or nodes:ppn depending on your system

GENERATOR=generator-to-use #or you may specifile file:/.../file-to-use
GENERATOR_CONFIG=config file for generator

#common parameters for generators
#eBEAM_ENERGY=12 #either use =rcdb or do not set to pull the run number from the rcdb
#COHERENT_PEAK=9 #either use =rcdb or do not set to pull the run number from the rcdb
#GEN_MIN_ENERGY=4
#GEN_MAX_ENERGY=12

GEANT_VERSION=3
BKG=None #[None, BeamPhotons, DEFAULT, custom e.g bg.hddm:1.8]

#optional additional plugins that will be run along side danarest and hd_root.  This should be a comma separated list (e.g. plugin1,plugin2)
#CUSTOM_PLUGINS= #or file:/.../file-to-use which is a configuration file for jana/hd_root 
#====================================================================================
#EVERYTHING BELOW FOR BATCH ONLY

#VERBOSE=True

BATCH_SYSTEM=swif #can be swif or qsub  adding :[name] will pass -q [name] into PBS. 

#environment file location
ENVIRONMENT_FILE=your-environment-files     #change this to your own environment file

WORKFLOW_NAME=WORKFLOW-NAME #SWIF WORKFLOW NAME
PROJECT = gluex          # http://scicomp.jlab.org/scicomp/#/projects
TRACK= simulation     	   # https://scicomp.jlab.org/docs/batch_job_tracks

# RESOURCES for swif jobs
DISK=5GB            # Max Disk usage
RAM=5GB            # Max RAM usage
TIMELIMIT=300minutes      # Max walltime.  This may be of the form xx:xx:xx depending on your system
OS=centos7        # Specify CentOS65 machines

