PLUGINS monitoring_hists,ReactionFilter

NTHREADS 1

COMBO:MAX_NEUTRALS 15


#cakondi@jlab.org
#kpkpkmsig0
Reaction1 1_14__11_11_12_20
Reaction1:Flags B4_M20


#cakondi@jlab.org
#ks19
Reaction2 1_14__16_19
Reaction2:Flags B4


#esb16b@my.fsu.edu
#pi0pippimetap
Reaction3 1_14__7_8_9_17_14
Reaction3:Flags B4_M7_M17


#jiaweigu@andrew.cmu.edu 
#ggkpkm
Reaction4 1_14__1_1_11_12
Reaction4:Flags B4


#nhoffma2@andrew.cmu.edu
#pi0pi0ksp
Reaction5 1_14__7_7_16_14
Reaction5:Flags B4


#churaman@jlab.org
#35p
Reaction6 1_14__35_14
Reaction6:Decay1 35__7_7_17
Reaction6:Flags M35_M7_M17


#nhoffma2@andrew.cmu.edu
#ksksp
Reaction7 1_14__16_16_14
Reaction7:Flags B4


#cakondi@jlab.org
#gkpkpkmlamb
Reaction8 1_14__1_11_11_12_18
Reaction8:Flags B4_M18


#churaman@jlab.org
#35p
Reaction9 1_14__35_14
Reaction9:Flags M35_M17


#churaman@jlab.org
#35p
Reaction10 1_14__35_14
Reaction10:Decay1 35__7_7_17
Reaction10:Flags M35


#jiaweigu@andrew.cmu.edu 
#ggpippim
Reaction11 1_14__1_1_8_9
Reaction11:Flags B4


#churaman@jlab.org
#35p
Reaction12 1_14__35_14
Reaction12:Flags M35


#lng@jlab.org
#pi0etap
Reaction13 1_14__7_17_14
Reaction13:Flags B4_M17_M7


#nhoffma2@andrew.cmu.edu
#pi0pi0pi0pi0p
Reaction14 1_14__7_7_7_7_14
Reaction14:Flags B4


#cakondi@jlab.org
#kpkpkmsig0
Reaction15 1_14__11_11_12_20
Reaction15:Flags B4_F1_M20


#cakondi@jlab.org
#gkpkpkmlamb
Reaction16 1_14__1_11_11_12_18
Reaction16:Flags B4_F1_M18


#esb16b@my.fsu.edu
#pi0pippimetap
Reaction17 1_14__7_8_9_17_14
Reaction17:Flags B4


#marianak@jlab.org
#pi035p
Reaction18 1_14__7_35_14
Reaction18:Decay1 35__1_8_9
Reaction18:Flags B4_M35


#jlb16f@my.fsu.edu
#eta35p
Reaction19 1_14__17_35_14
Reaction19:Decay1 35__1_1
Reaction19:Flags B4_M17_M35


#aladuke@jlab.org
#pi0pi0pi0p
Reaction20 1_14__7_7_7_14
Reaction20:Flags B4


#mfarr004@odu.edu
#gpippimp
Reaction21 1_14__1_8_9_14
Reaction21:Flags B4
