# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# JOB RESOURCES - at this point, only propagate memory usage and number of cores
NCORES                        1
DISK                          10GB
RAM                           1900MB
TIMELIMIT                     4hrs

# WORKFLOW DEFINITION
# RUNPERIOD, VERSION, & BATCH: Not needed by launch.py: Only used to replace variables in this config
RUNPERIOD                     2017-01
RUNPERIOD_VER                 03
VERSION                       88
BATCH                         01
WORKFLOW                      analysis_[RUNPERIOD]_ver[VERSION] #_batch[BATCH]

# JOB, SCRIPT CONTROL
ENVFILE                       /group/halld/www/halldweb/html/halld_versions/version.xml
SCRIPTFILE                    /osgpool/halld/sdobbs/hd_utilities/launch_scripts/launch/script_osg.sh
RCDB_QUERY                    "@is_production and @status_approved"         # comment-out for all runs
JANA_CONFIG                   /osgpool/halld/sdobbs/hd_utilities/launch_scripts/launch/jana_analysis_osg.config
OSGWRAPPER                    /osgpool/halld/sdobbs/hd_utilities/launch_scripts/launch/osg-container.sh

# FILE INPUT, OUTPUT BASE DIRECTORIES
INDATA_TOPDIR     /cvmfs/gluex.osgstorage.org/gluex/uconn1/resilient/RunPeriod-[RUNPERIOD]/recon/ver[RUNPERIOD_VER]/REST

# FOR FULL RECON LAUNCHES - post-launch merging?
OUTDIR_LARGE      /volatile/halld/analysis/RunPeriod-[RUNPERIOD]/ver[VERSION]                 # REST, skims, hists, trees
OUTDIR_SMALL      /osgpool/halld/analysis/RunPeriod-[RUNPERIOD]/ver[VERSION]                 # log files, IDXA
