# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
USER			      YOUR_USER_NAME	    # ADD YOUR USER NAME HERE
PROJECT                       halld                 # = account: https://scicomp.jlab.org/scicomp/slurmJob/slurmAccount
TRACK                         production            # = partition: https://scicomp.jlab.org/scicomp/slurmJob/slurmInfo
OS                            el9

# JOB RESOURCES
NCORES                        12
DISK                          10GB
RAM                           10GB
TIMELIMIT                     4hrs

# WORKFLOW DEFINITION
# RUNPERIOD, VERSION, & BATCH: Not needed by launch.py: Only used to replace variables in this config
RUNPERIOD                     2017-01
VERSION                       05
BATCH                         01
WORKFLOW                      analysis_[RUNPERIOD]_ver[VERSION] #_batch[BATCH]

# JOB, SCRIPT CONTROL
ENVFILE                       /home/[USER]/env_monitoring_launch.sh
SCRIPTFILE                    /home/[USER]/launch_scripts/launch/script.sh
RCDB_QUERY                    "@is_production and @status_approved"         # comment-out for all runs
JANA_CONFIG                   /home/[USER]/launch_scripts/launch/jana_analysis.config

# FILE INPUT, OUTPUT BASE DIRECTORIES
INDATA_TOPDIR     /mss/halld/RunPeriod-[RUNPERIOD]/recon/ver04/REST/

# FOR FULL RECON LAUNCHES
OUTDIR_LARGE      /volatile/halld/home/[USER]/RunPeriod-[RUNPERIOD]/analysis/ver[VERSION]                  # REST, skims, hists, trees
OUTDIR_SMALL      /farm_out/[USER]/analysis/RunPeriod-[RUNPERIOD]/ver[VERSION]                  # log files, IDXA

