# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
PROJECT                       gluex                 # http://scicomp.jlab.org/scicomp/#/projects
TRACK                         analysis              # https://scicomp.jlab.org/docs/batch_job_tracks
OS                            centos7

# JOB RESOURCES
NCORES                        1
DISK                          500GB
RAM                           20GB
TIMELIMIT                     4hrs

RUNPERIOD                     2017-01
VERSION                       01
BATCH			      01
WORKFLOW                      analysis_[RUNPERIOD]_ver[VERSION]_batch[BATCH] # Input workflow

# JOB, SCRIPT CONTROL
ENVFILE                       /home/gxproj1/env_monitoring_launch.sh
SCRIPTFILE                    /home/gxproj1/monitoring/merge_trees/script.sh
CACHE_PIN_DAYS                60                                            # max is 60, 0 or comment-out for none

# FILE INPUT, OUTPUT BASE DIRECTORIES
INDATA_TOPDIR     /cache/halld/RunPeriod-[RUNPERIOD]/analysis/ver[VERSION]/

OUTDIR_LARGE      /cache/halld/RunPeriod-[RUNPERIOD]/analysis/ver[VERSION]/
OUTDIR_SMALL      /work/halld2/analysis/RunPeriod-[RUNPERIOD]/ver[VERSION]/                  # log files
