# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
PROJECT                       gluex                 # http://scicomp.jlab.org/scicomp/#/projects
TRACK                         reconstruction        # https://scicomp.jlab.org/docs/batch_job_tracks
OS                            centos7

# JOB RESOURCES
NCORES                        24
DISK                          30GB
RAM                           24GB
TIMELIMIT                     8hrs

# WORKFLOW DEFINITION
# RUNPERIOD, DATE: Not needed by launch.py: Only used to replace variables in this config
RUNPERIOD                     YYYY-MM             # KEEP THIS EXACT FORMAT
DATE                          YYYY-MM-DD          # KEEP THIS EXACT FORMAT
WORKFLOW                      recon_tests         # KEEP THIS EXACT FORMAT

# JOB, SCRIPT CONTROL
ENVFILE                       /group/halld/Software/scripts/monitoring/recon_test/env_recon_test.sh
SCRIPTFILE                    /group/halld/Software/scripts/monitoring/recon_test/script.sh
JANA_CONFIG                   /group/halld/Software/scripts/monitoring/recon_test/jana_recon_test.config
CACHE_PIN_DAYS                21                                                                           # max is 60, 0 or comment-out for none

# FILE INPUT, OUTPUT BASE DIRECTORIES
INDATA_TOPDIR     /mss/halld/RunPeriod-[RUNPERIOD]/rawdata/

# FILE OUTPUT
OUTDIR_LARGE      /cache/halld/software_tests/RunPeriod-[RUNPERIOD]/recon_tests/[DATE]/     # REST, hist
OUTDIR_SMALL      /work/halld2/data_monitoring/RunPeriod-[RUNPERIOD]/recon_tests/[DATE]/    # log

WEBDIR_LARGE      /work/halld/data_monitoring/RunPeriod-[RUNPERIOD]/recon_tests/[DATE]/     # hist
WEBDIR_SMALL      /group/halld/www/halldweb/html/recon_test/[DATE]/RunPeriod-[RUNPERIOD]/   # pngs

