#THESE TWO ARE OPTIONAL IF THE STANDARD RUNNING DOESN'T SUIT YOUR NEEDS
#CUSTOM_MAKEMC=use-this-script-instead
#CUSTOM_GCONTROL=use-this-Gcontrol-instead
#========================================================================

VARIATION=mc #set your jana calib context here with or without calibtime Default is variation=mc

RCDB_QUERY=beam_current > 25 and event_count>5e5
CCDBSQLITEPATH=/work/halld2/home/jrsteven/2018-dirc/dirc/tables/ccdb.sqlite
DATA_OUTPUT_BASE_DIR=/volatile/halld/home/jrsteven/2018-dirc/dircsim-2019_01-ver02/gen_2k/ #_BeamPhoton300nA/

NCORES=1      # Number of CPU threads to use or nodes:node-id:ppn or nodes:ppn depending on your system

GENERATOR=gen_2k #or you may specifile file:/.../file-to-use.hddm
GENERATOR_CONFIG=/work/halld2/home/jrsteven/2018-dirc/builds/gluex_MCwrapper/Generators/gen_2k/examples/gen_2k.cfg

#common parameters for generators
FLUX_TO_GEN=cobrems
eBEAM_ENERGY=11.6 #either use rcdb or do not set to pull the value for the chosen run number from the rcdb
RADIATOR_THICKNESS=50.e-06 #either use rcdb or do not set to pull the value for the chosen run number from the rcdb
COHERENT_PEAK=8.8 #either use rcdb or do not set to pull the value for the chosen run number from the rcdb
GEN_MIN_ENERGY=3.0
GEN_MAX_ENERGY=11.6

GEANT_VERSION=4
BKG=loc:/cache/halld/gluex_simulations/random_triggers/recon-2019_01-ver01/

CUSTOM_PLUGINS=file:/work/halld2/home/jrsteven/2018-dirc/builds/hd_utilities/dirc/mcwrapper/jana.conf

#====================================================================================
#EVERYTHING BELOW FOR BATCH ONLY

#VERBOSE=True

BATCH_SYSTEM=swif #can be swif or condor or osg or qsub adding :[name] will pass -q [name] into PBS. 

#environment file location
ENVIRONMENT_FILE=/work/halld2/home/jrsteven/2018-dirc/builds/setup_gluex.csh     #change this to your own environment file

WORKFLOW_NAME=gen_2k_dircsim #SWIF WORKFLOW NAME
PROJECT = gluex          # http://scicomp.jlab.org/scicomp/#/projects
TRACK= simulation     	   # https://scicomp.jlab.org/docs/batch_job_tracks

# RESOURCES for swif jobs
DISK=5GB            # Max Disk usage
RAM=4GB            # Max RAM usage
TIMELIMIT=1200minutes      # Max walltime.  This may be of the form xx:xx:xx depending on your system
OS=centos7        # Specify CentOS65 machines

