[FILES]
#NOMINAL corresponds to the nominal/unperturbed geometry file,
# this is the input file  
NOMINAL = DIRC_HDDS_Nominal.xml
OUTPUT  = DIRC_HDDS.xml

#Optical Box South
[OBCS]
MRAS_rot = 0.,1.,0.

MRAS_offset = 0.,-0.5,0.

#Optical Box North
[OBCN]
MRAN_rot = 0.,0.,0.

MRAN_offset = 0., 0., 0.
