PLUGINS janadot,occupancy_online,danarest,monitoring_hists,track_skimmer,TAGH_online,TAGM_online,BCAL_online,CDC_online,FCAL_online,FDC_online,ST_online_lowlevel,ST_online_tracking,TOF_online,PS_online,PSC_online,PSPair_online,TPOL_online,TOF_TDC_shift,BCAL_Eff,p2pi_hists,p3pi_hists,HLDetectorTiming,BCAL_inv_mass,TRIG_online,CDC_drift,RF_online,BCAL_attenlength_gainratio,BCAL_TDC_Timing,ST_online_efficiency,ST_online_Tresolution,CDC_expert_2,BCAL_LEDonline,pedestal_online,L1_online,FCAL_invmass

#Ncores if you want to use all of the hyperthreads available (only use if you have the whole node!)
NTHREADS 24

REST:DATAVERSIONSTRING offmon_RunPeriod-2016-02_ver05
JANA_CALIB_CONTEXT "variation=default,calibtime=2016-06-06"     #calibtime=year-month-day

