# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
PROJECT                       gluex                 # http://scicomp.jlab.org/scicomp/#/projects
TRACK                         analysis              # https://scicomp.jlab.org/docs/batch_job_tracks
OS                            centos7

# JOB RESOURCES
NCORES                        12
DISK                          10GB
RAM                           10GB
TIMELIMIT                     4hrs

# WORKFLOW DEFINITION
# RUNPERIOD, VERSION, & BATCH: Not needed by launch.py: Only used to replace variables in this config
RUNPERIOD                     2017-01
VERSION                       05
BATCH                         01
WORKFLOW                      analysis_[RUNPERIOD]_ver[VERSION] #_batch[BATCH]

# JOB, SCRIPT CONTROL
ENVFILE                       /home/gxproj1/env_monitoring_launch.sh
SCRIPTFILE                    /home/gxproj1/monitoring/launch/script.sh
RCDB_QUERY                    "@is_production and @status_approved"         # comment-out for all runs
JANA_CONFIG                   /home/gxproj1/monitoring/launch/jana_analysis.config
CACHE_PIN_DAYS                0                                            # max is 60, 0 or comment-out for none

# FILE INPUT, OUTPUT BASE DIRECTORIES
INDATA_TOPDIR     /mss/halld/RunPeriod-[RUNPERIOD]/recon/ver01/REST/

# FOR FULL RECON LAUNCHES
#OUTDIR_LARGE      /cache/halld/RunPeriod-[RUNPERIOD]/analysis/ver[VERSION]                  # REST, skims, hists, trees
OUTDIR_LARGE      /work/halld/analysis/RunPeriod-[RUNPERIOD]/ver[VERSION]                  # REST, skims, hists, trees
OUTDIR_SMALL      /work/halld2/analysis/RunPeriod-[RUNPERIOD]/ver[VERSION]                  # log files, IDXA

