# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated,
# so for lines like
# KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored

PROJECT                       gluex
TRACK                         reconstruction
OS                            centos65

NCORES                        24
DISK                          40
RAM                           24
TIMELIMIT                     8

JOBNAMEBASE                   offmon
RUNPERIOD                     2015-12
VERSION                       04
OUTPUT_TOPDIR                 /cache/halld/offline_monitoring/RunPeriod-[RUNPERIOD]/ver[VERSION] # Example of other variables included in variable
SCRIPTFILE                    /home/gxproj5/monitoring/hdswif/script.sh                                  # Must specify full path
ENVFILE                       /home/gxproj5/env_monitoring_launch                                   # Must specify full path

PLUGINS                       TAGH_online,TAGM_online,BCAL_online,CDC_online,CDC_expert,FCAL_online,FDC_online,ST_online_lowlevel,ST_online_tracking,TOF_online,PS_online,PSC_online,PSPair_online,TPOL_online,TOF_TDC_shift,monitoring_hists,danarest,BCAL_Eff,p2pi_hists,p3pi_hists,HLDetectorTiming,BCAL_inv_mass,trackeff_missing,TRIG_online,CDC_drift,RF_online,BCAL_attenlength_gainratio,BCAL_TDC_Timing,ST_online_efficiency,ST_online_Tresolution
