# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated,
# so for lines like
# KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored

PROJECT                       gluex
TRACK                         reconstruction
OS                            centos65

NCORES                        2
DISK                          40
RAM                           5
TIMELIMIT                     8

JOBNAMEBASE                   myjobs
RUNPERIOD                     2015-03
VERSION                       99
OUTPUT_TOPDIR                 /volatile/halld/test/RunPeriod-[RUNPERIOD]/ver[VERSION] # Example of other variables included in variable.
SCRIPTFILE                    /home/gxproj5/halld/hdswif/user_script.sh               # Must specify full path
ENVFILE                       /home/gxproj5/halld/hdswif/setup_jlab-2015-03.csh       # Must specify full path
