# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
USER			      YOUR_USER_NAME	    # ADD YOUR USER NAME HERE
PROJECT                       halld                 # = account: https://scicomp.jlab.org/scicomp/slurmJob/slurmAccount
TRACK                         production            # = partition: https://scicomp.jlab.org/scicomp/slurmJob/slurmInfo
OS                            general

# JOB RESOURCES
NCORES                        12
DISK                          50GB
RAM                           10GB
TIMELIMIT                     4hrs

# WORKFLOW DEFINITION
WORKFLOW                      analysis_2017-01_ver46                           # MUST start with a letter!

# JOB, SCRIPT CONTROL
ENVFILE                       /home/[USER]/env_gluex_analysis.sh
SCRIPTFILE                    /home/[USER]/launch_scripts/root_analysis/script.sh
#CACHE_PIN_DAYS               21	                                        # max is 60, 0 or comment-out for none

# ROOT CONFIG
ROOT_SCRIPT                   /home/[USER]/launch_scripts/root_analysis/Run_Selector.C
TREE_NAME                     pippim__B4_Tree
SELECTOR_NAME                 /home/[USER]/DSelector/DSelector_rho      # Leave .C off of the end!

# FILE INPUT, OUTPUT BASE DIRECTORIES
INDATA_TOPDIR		      /cache/halld/RunPeriod-2017-01/analysis/ver46/tree_pippim__B4/merged/

# FILE OUTPUT
OUTDIR_LARGE      /volatile/halld/home/[USER]/analysis/pippim_ver46/     # root trees, hist
OUTDIR_SMALL      /farm_out/[USER]/analysis/pippim_ver46/      # log

